<?xml version='1.0' encoding='utf-8'?>
<widget id="com.easy.wodu" version="0.0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>爱看书笔记</name>
    <description>一个读书记录APP，用来记录自己正在读/想读/读过的书</description>
    <author email="zhongzhu@ymail.com" href="https://github.com/zhongzhu/wodu">钟柱</author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="Orientation" value="portrait" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="SplashScreen" value="screen" />
        <splash src="www/resources/startup/splash-port-ldpi.png" width="200" height="320" density="port-ldpi"/>
        <splash src="www/resources/startup/splash-port-mdpi.png" width="320" height="480" density="port-mdpi"/>
        <splash src="www/resources/startup/splash-port-hdpi.png" width="480" height="800" density="port-hdpi"/>
        <splash src="www/resources/startup/splash-port-xhdpi.png" width="720" height="1280" density="port-xhdpi"/>

        <icon src="www/resources/icons/Icon_Android36.png" width="36" height="36" density="ldpi" />
        <icon src="www/resources/icons/Icon_Android48.png" width="48" height="48" density="mdpi" />
        <icon src="www/resources/icons/Icon_Android72.png" width="72" height="72" density="hdpi" />
        <icon src="www/resources/icons/Icon_Android96.png" width="96" height="96" density="xhdpi" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />

        <!-- fix the iOS status bar and Shencha navigation bar overlapping issue -->    
        <preference name="StatusBarOverlaysWebView" value="false" /> 
        <preference name="StatusBarBackgroundColor" value="#000000" />
        <preference name="StatusBarStyle" value="lightcontent" />

        <!-- iPhone 6 Plus  -->
        <icon src="www/resources/icons/icon-60@3x.png" width="180" height="180" />
        <!-- iPhone 6 / 5 /4s  -->
        <icon src="www/resources/icons/icon-60@2x.png" width="120" height="120" />
        <icon src="www/resources/icons/icon-60.png" width="60" height="60" />
        <!-- iPhone / iPod Touch -->
        <icon src="www/resources/icons/icon.png" width="57" height="57" />
        <icon src="www/resources/icons/icon@2x.png" width="114" height="114" />        
        <!-- Spotlight search results Icon -->
        <icon src="www/resources/icons/icon-spot-40.png" width="40" height="40" />
        <icon src="www/resources/icons/icon-spot-40@2x.png" width="80" height="80" />
        <icon src="www/resources/icons/icon-spot-40@3x.png" width="120" height="120" />
        <!-- Settings icon -->
        <icon src="www/resources/icons/icon-settings-29.png" width="29" height="29" />
        <icon src="www/resources/icons/icon-settings-29@2x.png" width="58" height="58" />
        <icon src="www/resources/icons/icon-settings-29@3x.png" width="87" height="87" />

        <!-- iPhone -->        
        <splash src="www/resources/startup/Default~iphone.png" width="320" height="480"/>
        <!-- iPhone 4s -->
        <splash src="www/resources/startup/Default@2x~iphone.png" width="640" height="960"/>
        <!-- iPhone 5 -->
        <splash src="www/resources/startup/Default-568h@2x~iphone.png" width="640" height="1136"/>
        <!-- iPhone 6 -->
        <splash src="www/resources/startup/Default-667h.png" width="750" height="1334"/>
        <!-- iPhone 6 Plus-->
        <splash src="www/resources/startup/Default-736h.png" width="1242" height="2208"/>       
    </platform>
    <plugin name="cordova-plugin-inappbrowser" spec="~1.0.1" />
    <plugin name="phonegap-plugin-barcodescanner" spec="~4.0.1" />  
    <plugin name="cordova-plugin-statusbar" spec="~1.0.1" />
</widget>